step-functions/state-machine.asl.json
{
  "Comment": "Compromised IAM Access Key — Incident Response Workflow. Orchestrates detection triage, immediate containment, analyst approval, and final resolution.",
  "StartAt": "ExtractEventContext",
  "States": {

    "ExtractEventContext": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:457664479040:function:security-incident-workflow-handler",
      "Comment": "Parse the raw CloudTrail/EventBridge event into a clean context object and determine severity.",
      "Parameters": {
        "task": "extract_context",
        "detail.$": "$.detail",
        "detail-type.$": "$.detail-type",
        "source.$": "$.source"
      },
      "ResultPath": "$.context",
      "Next": "CheckAllowlist",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "ResultPath": "$.error",
        "Next": "NotifyPipelineError"
      }]
    },

    "CheckAllowlist": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:457664479040:function:security-incident-workflow-handler",
      "Comment": "Check IP, principal, and DynamoDB allowlists. Returns {allowed: true/false}.",
      "Parameters": {
        "task": "check_allowlist",
        "context.$": "$.context"
      },
      "ResultPath": "$.allowlistResult",
      "Next": "IsAllowlisted",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "ResultPath": "$.error",
        "Next": "NotifyPipelineError"
      }]
    },

    "IsAllowlisted": {
      "Type": "Choice",
      "Comment": "If the event source is allowlisted, log and exit. Otherwise proceed to containment.",
      "Choices": [{
        "Variable": "$.allowlistResult.allowed",
        "BooleanEquals": true,
        "Next": "LogAllowlistHit"
      }],
      "Default": "EvaluateSeverity"
    },

    "LogAllowlistHit": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:457664479040:function:security-incident-workflow-handler",
      "Comment": "Record that this event was allowlisted (for tuning visibility).",
      "Parameters": {
        "task": "audit_log",
        "context.$": "$.context",
        "action": "allowlisted",
        "reason.$": "$.allowlistResult.reason"
      },
      "End": true
    },

    "EvaluateSeverity": {
      "Type": "Choice",
      "Comment": "Route based on severity. HIGH gets immediate containment + approval flow. MEDIUM gets alert only.",
      "Choices": [{
        "Variable": "$.context.severity",
        "StringEquals": "HIGH",
        "Next": "ImmediateContainment"
      }],
      "Default": "AlertOnly"
    },

    "AlertOnly": {
      "Type": "Parallel",
      "Comment": "For MEDIUM severity: send alerts and log, but take no remediation action.",
      "Branches": [
        {
          "StartAt": "SendAlertSNS_Medium",
          "States": {
            "SendAlertSNS_Medium": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:457664479040:function:security-incident-workflow-handler",
              "Parameters": {
                "task": "send_alert",
                "context.$": "$.context",
                "channel": "sns",
                "severity": "MEDIUM",
                "message": "MEDIUM severity detection — alert only, no auto-remediation"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "WriteAuditLog_Medium",
          "States": {
            "WriteAuditLog_Medium": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:457664479040:function:security-incident-workflow-handler",
              "Parameters": {
                "task": "audit_log",
                "context.$": "$.context",
                "action": "alert_only",
                "reason": "MEDIUM severity — no auto-remediation"
              },
              "End": true
            }
          }
        }
      ],
      "End": true
    },

    "ImmediateContainment": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:457664479040:function:security-incident-workflow-handler",
      "Comment": "Disable the access key and attach deny-all policy immediately.",
      "Parameters": {
        "task": "containment",
        "context.$": "$.context",
        "actions": ["disable_key", "attach_deny_policy"]
      },
      "ResultPath": "$.containmentResult",
      "Next": "PostContainmentParallel",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "ResultPath": "$.error",
        "Next": "ContainmentFailed"
      }]
    },

    "ContainmentFailed": {
      "Type": "Parallel",
      "Comment": "If containment fails, alert with CRITICAL urgency.",
      "Branches": [
        {
          "StartAt": "AlertContainmentFailure",
          "States": {
            "AlertContainmentFailure": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:457664479040:function:security-incident-workflow-handler",
              "Parameters": {
                "task": "send_alert",
                "context.$": "$.context",
                "channel": "sns",
                "severity": "CRITICAL",
                "message": "AUTO-CONTAINMENT FAILED — manual intervention required"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "LogContainmentFailure",
          "States": {
            "LogContainmentFailure": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:457664479040:function:security-incident-workflow-handler",
              "Parameters": {
                "task": "audit_log",
                "context.$": "$.context",
                "action": "containment_failed",
                "reason": "Containment action threw an error"
              },
              "End": true
            }
          }
        }
      ],
      "End": true
    },

    "PostContainmentParallel": {
      "Type": "Parallel",
      "Comment": "After successful containment, alert, log, and request analyst approval in parallel.",
      "Branches": [
        {
          "StartAt": "SendContainmentAlert",
          "States": {
            "SendContainmentAlert": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:457664479040:function:security-incident-workflow-handler",
              "Parameters": {
                "task": "send_alert",
                "context.$": "$.context",
                "containmentResult.$": "$.containmentResult",
                "channel": "sns",
                "severity": "HIGH",
                "message": "Access key contained. Awaiting analyst approval for permanent deletion."
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "WriteContainmentAuditLog",
          "States": {
            "WriteContainmentAuditLog": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:457664479040:function:security-incident-workflow-handler",
              "Parameters": {
                "task": "audit_log",
                "context.$": "$.context",
                "action": "contained",
                "reason": "Immediate containment executed"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "RequestAnalystApproval",
          "States": {
            "RequestAnalystApproval": {
              "Type": "Task",
              "Resource": "arn:aws:states:::sqs:sendMessage.waitForTaskToken",
              "Comment": "Send approval request to SQS with a task token. Workflow pauses until analyst responds.",
              "Parameters": {
                "QueueUrl": "https://sqs.us-east-1.amazonaws.com/457664479040/security-incident-approval",
                "MessageBody": {
                  "taskToken.$": "$$.Task.Token",
                  "context.$": "$.context",
                  "containmentResult.$": "$.containmentResult",
                  "message": "Access key has been disabled. Approve to permanently delete the key, or deny to re-enable it.",
                  "requestedAt.$": "$$.State.EnteredTime"
                }
              },
              "HeartbeatSeconds": 86400,
              "ResultPath": "$.approvalResult",
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.parallelResults",
      "Next": "CheckApprovalDecision"
    },

    "CheckApprovalDecision": {
      "Type": "Choice",
      "Comment": "Route based on analyst decision.",
      "Choices": [{
        "Variable": "$.parallelResults[2].approvalResult.decision",
        "StringEquals": "approve",
        "Next": "PermanentRemediation"
      }],
      "Default": "RollbackContainment"
    },

    "PermanentRemediation": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:457664479040:function:security-incident-workflow-handler",
      "Comment": "Analyst approved. Delete the access key permanently.",
      "Parameters": {
        "task": "permanent_remediation",
        "context.$": "$.context",
        "actions": ["delete_key", "remove_deny_policy"]
      },
      "ResultPath": "$.remediationResult",
      "Next": "FinalNotification",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "ResultPath": "$.error",
        "Next": "NotifyPipelineError"
      }]
    },

    "RollbackContainment": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:457664479040:function:security-incident-workflow-handler",
      "Comment": "Analyst denied (false positive). Re-enable the access key.",
      "Parameters": {
        "task": "rollback",
        "context.$": "$.context",
        "actions": ["enable_key", "remove_deny_policy"]
      },
      "ResultPath": "$.rollbackResult",
      "Next": "FinalNotification",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "ResultPath": "$.error",
        "Next": "NotifyPipelineError"
      }]
    },

    "FinalNotification": {
      "Type": "Parallel",
      "Comment": "Send resolution notification and write final audit record.",
      "Branches": [
        {
          "StartAt": "SendResolutionAlert",
          "States": {
            "SendResolutionAlert": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:457664479040:function:security-incident-workflow-handler",
              "Parameters": {
                "task": "send_alert",
                "context.$": "$.context",
                "channel": "sns",
                "severity": "INFO",
                "message": "Incident resolved."
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "WriteFinalAuditLog",
          "States": {
            "WriteFinalAuditLog": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:457664479040:function:security-incident-workflow-handler",
              "Parameters": {
                "task": "audit_log",
                "context.$": "$.context",
                "action": "resolved",
                "reason": "Incident workflow completed"
              },
              "End": true
            }
          }
        }
      ],
      "End": true
    },

    "NotifyPipelineError": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:457664479040:function:security-incident-workflow-handler",
      "Parameters": {
        "task": "send_alert",
        "channel": "sns",
        "severity": "CRITICAL",
        "message": "Step Functions workflow failed — manual investigation required",
        "context.$": "$.context"
      },
      "End": true
    }
  }
}
